
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #FFDEE9, #B5FFFC);
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}


.sky {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 20vh;
}

.cloud {
    position: absolute;
    width: 120px;
    height: 60px;
    background: white;
    border-radius: 50%;
    top: 20px;
    left: -150px;
    animation: moveClouds 15s linear infinite;
}

.cloud.small {
    width: 80px;
    height: 40px;
    top: 50px;
    left: -100px;
    animation-duration: 20s;
}

@keyframes moveClouds {
    0% { left: -150px; }
    100% { left: 100vw; }
}

.bird {
    position: absolute;
    width: 50px;
    height: 20px;
    background: url("img/birds.png") no-repeat;
    background-size: contain;
    top: 30%;
    left: -50px;
    animation: flyBirds 20s linear infinite;

}
.birds {
    position: absolute;
    width: 50px;
    height: 20px;
    background: url("img/bird.png") no-repeat;
    background-size: contain;
    top: 30%;
    left: -50px;
    animation: flyBirds 10s linear infinite;
}

@keyframes flyBirds {
    0% { left: -50px; transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { left: 100vw; transform: scale(1); }
}


.postcard {
    width: 300px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.postcard .front, .postcard .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 1s;
}


.postcard .front {
    background: white;
    color: #333;
}


.postcard .back {
    background: skyblue;
    color: black;
    transform: rotateY(180deg);
}


.postcard:hover .front {
    transform: rotateY(180deg);
}
.postcard:hover .back {
    transform: rotateY(360deg);
}
